/* BOOTSTRAP OVERRIDE */
.header .inner {
    /* background-color: linear-gradient(#c21f32,#981b2d); */
    background-image: url("/image/wave-overlapping-no-stroke.png"), linear-gradient(#c21f32,#981b2d);

    /* background-image: linear-gradient(0deg, #c21f32,#981b2d), url('image/wave-overlapping-no-stroke.png'); */
    margin: 0.625rem 0;
    height: 5.625rem;
}


/* SECTION ONE */

.title-ha31 {
    font-size: 70px;
    font-weight: 900;
    /* color: #38464F; */
    /* color: #FCAF17; */
    color: #39474f;
    /* text-align: center; */
}

@media (max-width: 800px) {
    .title-ha31 {
        font-size: 30px;
    }
}

.section-ha31,
.title-ha31 {
    font-family: "brother-1816", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer .inner-wrap {
background-color: #39474f;
background-image: url("/image/wave-overlapping-no-stroke.png");
}

.top-row {
    background-color: #39474f;
}

.footer-title {
    font-weight: bold;
    font-size: 13px;
    color: #fcaf17;
}

.footer-text {
    font-size: 16px;
    color: #fff;
}

.footer-links {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

.copyright-ha31 {
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 20px;
}







