.title-ha31 {
    /* padding: 100px 0 100px 0; */
    font-size: 70px;
    font-weight: 900;
    /* color: #38464F; */
    color: #FCAF17;
    /* text-align: center; */
}

@media (max-width: 800px) {
    .title-ha31 {
        font-size: 30px;
    }
}

