body {
    font-family: "brother-1816", sans-serif;
}


/* BOOTSTRAP OVERRIDE */
.header .inner {
    /* background-color: linear-gradient(#c21f32,#981b2d); */
    background-image: url("/image/wave-overlapping-no-stroke.png"), linear-gradient(#c21f32,#981b2d);

    /* background-image: linear-gradient(0deg, #c21f32,#981b2d), url('image/wave-overlapping-no-stroke.png'); */
    margin: 0.625rem 0;
    height: 5.625rem;
}


/* SECTION ONE */

.title-ha31 {
    font-size: 60px;
    font-weight: 900;
    /* color: #38464F; */
    /* color: #FCAF17; */
    color: #fff;
    /* text-align: center; */
}

.subtitle-ha31 {
    font-size: 35px;
    font-weight: 900;
    /* color: #38464F; */
    /* color: #FCAF17; */
    color: #39474f;
    /* text-align: center; */
}

.yellow-subtitle-ha31 {
    font-size: 35px;
    font-weight: 900;
    /* color: #38464F; */
    /* color: #FCAF17; */
    color: #fcaf17;
    /* text-align: center; */
}

.grad-subtitle-ha31 {
    font-size: 35px;
    font-weight: 900;
    /* color: #38464F; */
    /* color: #FCAF17; */
    color: #39474f;
    padding-top: 40px;
    /* text-align: center; */
}


.main-grey {
    background: #39474f;
    padding: 5px;
    background-image: url("/image/wave-dark.png");
    background-color: #39474f;
}

.main-red {
    background: #99132b;;
    padding: 5px;
    background-image: url("/image/wave-dark.png");
    background-color: #99132b;
}

.main-white{
    /* background: #39474f; */
    padding: 5px;
}

.list-on-grey   {
    color: #fcaf17;
    font-size: 16px;
    font-weight: 400;
}

.list-on-white   {
    color: #99132b;
    font-size: 16px;
    font-weight: 400;
}

.text-on-grey   {
    color: #fff;
}

ul {
    list-style-type: none;
  }


@media (max-width: 767px) {
    .title-ha31 {
        font-size: 30px;
    }
}

.chevron-yellow {
    color:#fcaf17;
    padding-right: 7px;
}

.chevron-white {
    color:#fff;
    padding-right: 7px;
}


.section-ha31,
.title-ha31 {
    font-family: "brother-1816", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.six    {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.six-title  {
    padding-top: 40px;
}


/* GETS RID OF PACMAN ON IMAGES */
.image-slab .image:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    -webkit-transform: skewX(30deg);
    transform: skewX(45deg);
}

.image-slab .image:after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-45deg)
}



@media (max-width: 767px) {
    .six    {
        /* margin-top: 0; */
        margin-bottom: 60px;
        /* margin-right: 0; */
    }
}


@media (max-width: 767px) {
    .subtitle-ha31,
    .yellow-subtitle-ha31,
    .grad-subtitle-ha31  {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .six-title  {
        padding-top: 0;
    }
}



/* FOOTER */

footer .inner-wrap {
background-color: #39474f;
background-image: url("/image/wave-overlapping-no-stroke.png");
}

.top-row {
    background-color: #39474f;
}

.footer-title,
.footer-top-title {
    font-weight: bold;
    font-size: 13px;
    color: #fcaf17;
}

.footer-text {
    font-size: 16px;
    color: #fff;
}

.footer-links {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

.copyright-ha31 {
    font-size: 15px;
    text-align: center;
    color: #fff;
    /* padding-bottom: 50px; */
}


.footer-logo    {
    width: 100%; 
    padding: 70px;
}



.footer-text {
    
}

@media (max-width: 767px) {
    .footer-title,
    .footer-text {
        text-align: center;
    }
    .footer-top-title {
        padding-top: 20px;
        /* text-align: center; */
    }
    .text-right {
        text-align:center!important
    } 
}

@media (max-width: 767px) {
    .copyright-ha31 {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    li {
        text-align:center;
        padding-right: 50px;
        padding-top: 5px;
    }
}

@media (max-width: 767px) {
    .top-li {
        margin-top: -15px;
    }
    .bottom-li {
        margin-bottom: -50px;
    }
}












.hero-image-ha31 {
    background-image: url("/image/1__20161110_LaGrange_160_0625.png");
    width: 100%;
    height: 50%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: absolute;
  }
  
  .hero-text-ha31 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


/* 
  .image img{width:100%}
  .image-slab 
  .image img>img{
    position:absolute;
    max-width:none;
    max-height:none;
    width:auto;min-width:100%;height:auto;min-height:100%;right:auto;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)} */


    /* get the blank icons out of the main nav */
    @media (min-width: 62rem) {
ul.main-nav li:nth-last-child(2).has-sub>a:before {
    /* position: relative;
    left: -0.25rem;
    top: 0.0625rem;
    font-size: .875rem;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300; */
    /* content: '\f05a'; */
    /* content: none; */
}
}

/* add the yellow bars below the selected page */

/* a:active {
    color:#fcaf17;
}

a:hover {
    color:#fcaf17;
} */

div .main-nav  {
    /* color:#fcaf17;
    font-size: 20px; */
}

.header {
    /* color:#fcaf17; */
}

ul.main-nav li a {
    /* font-size: 1rem;
    height: 2.8125rem;
    padding: 0.5rem 0.875rem 0 0.625rem; */
    /* color: #fcaf17; */
}

/* ul.main.nav:hover {
    color: #fcaf17;
} */


/* NAV HEADER */

.nav-academics-yellow,
.nav-admissions-yellow,
.nav-athletics-yellow,
.nav-online-yellow,
.nav-campuslife-yellow
   {
    width: 100%;
    height: 5px;
    background-color: #fcaf17;
    margin-top: 10px;

    /* position: relative; */
    /* background-color: #fcaf17; */
    /* height: 5px; */
    /* bottom: -8px; */
    /* margin-top: 10%; */
}

/* .main-nav-wrap  { */
    /* position: absolute; */
/* } */




.nav-subhead-ha31 {
    color:#fff;
    font-weight: light;
    margin-top: -16px;
    font-size: 20px;
}

.nav-tophead-ha31 {
    color:#fff;
    font-weight: light;
    margin-top: -20px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 30px;
}

.nav-yellow-bar {
    width: 100%;
    height: 5px;
    background-color: #fcaf17;
    margin-top: 10px;
}

.nav-padding {
        padding-right: 30px;
}

.main-nav-wrap  {
    background-color: #981b2d;
}