._idGenObjectLayout-1 {
    text-align: center;
}

#_idContainer000 {
	display:inline-block;
	height:111px;
	width:1680px;
}

._idGenObjectStyleOverride-1 {
    background-color: #c4203c;
    border-width: 0px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* ._idGenObjectLayout-1 {
    text-align: center;
} */





